<!-- <div class="diffucilty-level-container">
    <button 
        *ngFor="let difficulty of difficulties; let i = index" 
        (click)='onSet(i)'
    >{{difficulty.level}}</button>
</div>
<div class="separator-text">
    ...or create a custom game...
</div> -->
<div class="input-field">
    <label class="label-title" for="width">Width:</label>
    <input id="width" type="number" min="1" max="100" value="10" #width />
</div>
<div class="input-field">
    <label class="label-title" for="height">Height:</label>
    <input id="height" type="number" min="1" max="70" value="10" #height />
</div>
<div class="input-field">
    <label class="label-title" for="mines">Mines:</label>
    <input id="mines" type="number" min="1" max="1000" value="5" #mines />
</div>
<div class="button-container">
    <button class="start-button" type="button" (click)="onStart(+width.value, +height.value, +mines.value)">Start Game</button>
</div>