<div class="game-board-container">
    <div *ngIf="gameState==='not-started'" class="game-options">
        <app-game-options [onStart]="onStart"></app-game-options>
    </div>
    <div 
        *ngIf="gameState!=='not-started'" 
        class="game-board" 
    >
    <!-- [@inOutAnimation]="gameState==='lost'||gameState==='won' ? 'open' : 'closed'" -->
        <div class="score-board-container">
            <app-score-board 
                [toggleTimer]="toggleTimer"
                [remainingMines]="(mines - flags)"
                [gameState]="gameState"
            ></app-score-board>
        </div>
        <div class="row-cells" *ngFor="let row of gameBoard; let rowIndex = index">
            <div *ngFor="let cell of row; let colIndex = index">
                <app-cell [cell]="cell" (click)="onClick(cell, rowIndex, colIndex)" (contextmenu)="onContextmenu($event, cell)"></app-cell>
            </div>
        </div>
        <div *ngIf="gameState==='lost'||gameState==='won'" class="restart-container">
            <button type="button" (click)="onRestart()">Restart</button>
        </div>
    </div>
</div>
