.game-board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    position: relative;
    background: whitesmoke;
    margin: auto auto;
    padding: 20px;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: fit-content;
    padding: 10px;
}

.score-board-container {
    display: flex;
    justify-content: space-around;
    min-height: 10%;
    width: 100%;
}

.row-cells {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cell {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
}

.label-title {
    font-size: 1.3rem;
    margin: 5px 10px;
}

.input-field {
    display: flex;
    justify-content: space-between;
    min-width: 220px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.score-title {
    font-size: 1.2rem;
}

.restart-container {
    display: flex;
    margin: 20px 40px;
}